.content-block,
.info-section {
	&__title {
		@extend .inner-section-title;
	}

	&__subtitle {
		@extend .inner-section-accent-title;
	}

	p {
		font-size: 18px;
		max-width: 1140px;
		margin-bottom: 30px;

		@include m-b-mobile-lg-down {
			font-size: 16px;
		}
	}

	ul {
		margin-bottom: 30px;
		max-width: var(--inner-section-content-max-width);

		li {
			position: relative;
			margin-bottom: 20px;
			color: var(--text);

			&::before {
				position: relative;
				top: -3px;
				left: 0;
				display: inline-block;

				margin-right: 5px;
				width: 4px;
				height: 4px;
				content: "";
				background-color: var(--text);
				border-radius: 50%;
			}
		}
	}
}
