.accordeon {
	@extend .flex-column;

	&__item {
		border-bottom: 1px solid var(--light);

		&-header {
			position: relative;
			cursor: pointer;
			padding: 20px;
			padding-right: 42px;
			display: flex;
			align-items: center;
			z-index: 2;

			&::after,
			&::before {
				position: absolute;
				top: 50%;
				right: 12px;
				transform: translateY(-50%);
				content: "";
				width: 12px;
				height: 2px;
				background-color: var(--dark);
				transition: transform var(--main-transition);
			}

			&::after {
				transform-origin: center;
				transform: translateY(-50%) rotate(-90deg);
			}
		}

		&-content {
			visibility: hidden;
			opacity: 0;
			height: 0;
			font-style: italic;
			font-size: 14px;
			font-weight: 400;
			transition: opacity var(--base-transition);

			a {
				color: var(--accent);
			}
		}

		&.expanded {
			.accordeon__item-header::after {
				transform: rotate(0);
			}

			.accordeon__item-content {
				visibility: visible;
				height: auto;
				opacity: 1;
				margin-top: 0;
				padding: 20px;
				padding-top: 10px;
			}
		}
	}
}
