.section-menu {
	margin-bottom: 30px;

	&__container {
		@extend .flex-wrap;
		margin-bottom: 30px;
		gap: 3px;

		a {
			display: flex;
			padding: 3px 6px;
			transition: color var(--main-transition);
			border: 1px solid var(--light);
			border-radius: 4px;
			font-size: 14px;

			&:hover,
			&:focus {
				color: var(--accent);
			}
		}
	}

	/*&__load-more-btn {
    display: none;
    @extend .button-default;

    @include m-b-mobile-lg-down {
      display: flex;
    }
  }*/
}
