.inner-page {
  padding: 100px 0;
  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 7fr;
    gap: 40px;
  }
}

.inner-sidebar-popular {
  padding: clamp(24px, 4vw, 30px) clamp(18px, 3vw, 24px);
  gap: 16px;
  height: fit-content;
  border: 1px solid var(--light);
  border-radius: 5px;

  li {
    margin-bottom: 10px;
  }
}
