-
  const countrysList = [
    {
      href: '#',
      img: {
        alt: 'card-img',
        name: 'country-flag.png'
      },
      title: 'ОАЭ'
    },
    {
      img: {
        alt: 'card-img',
        name: 'country-flag.png'
      },
      title: 'Египет'
    },
    {
      href: '#',
      img: {
        alt: 'card-img',
        name: 'country-flag.png'
      },
      title: 'ОАЭ'
    },
    {
      img: {
        alt: 'card-img',
        name: 'country-flag.png'
      },
      title: 'Египет'
    },
    {
      href: '#',
      img: {
        alt: 'card-img',
        name: 'country-flag.png'
      },
      title: 'ОАЭ'
    },
    {
      img: {
        alt: 'card-img',
        name: 'country-flag.png'
      },
      title: 'Египет'
    },

  ]




