-
  const documentsList = [
    {
      title: 'Дипломы',
      text: 'Подробнее о легализации дипломов',
      link: '#',
    },
    {
      title: 'Свидетельства о браке',
      text: 'Подробнее о легализации свидетельств о браке',
      link: '#',
    },
    {
      title: 'Справки о несудимости',
      text: 'Подробнее о легализации справок о судимости',
      link: '#',
    },
    {
      title: 'Свидетельства о рождении',
      text: 'Подробнее о легализации свидетельств о рождении',
      link: '#',
    },
    {
      title: 'Доверенности',
      text: 'Подробнее о легализации доверенностей',
      link: '#',
    },
    {
      title: 'Все услуги',
      text: 'Перейти на страницу со всеми услугами',
      link: '#',
    },
  ]




