-
  const paymentsList = [
    {
      title: 'Наличными в офисе:',
      text: 'Оплатите услугу прямо при посещении нашего офиса.',
    },
    {
      title: 'Банковской картой:',
      text: 'Мы принимаем карты любых банков для вашего удобства.',
    },
    {
      title: 'Через терминал:',
      text: 'Удобные терминалы оплаты доступны в нашем офисе.',
    },
    {
      title: 'Онлайн-оплата:',
      text: 'Быстрый и безопасный способ оплатить услуги через интернет.',
    },
  ]




