-
  const reviewsList = [
    {
      icon: true,
      type: 'yandex',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Большое спасибо за профессиональную работу по легализации справки об отсутствии судимости! Все передвижения документа отслеживались, по возникающим вопросам эксперты звонили, уточняли. Рекомендую всем обращаться в эту компанию!',
      date: '20 января',
      link: "#",
      linkText: "Яндекс",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: 'google',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Нужно было легализовать диплом для работы в Китае. Ребята грамотно и быстро проконсультировали. Оформление выполнено точно в срок, была предложена удобная система отслеживания каждого шага процедуры. Спасибо всей команде за отличную работу!',
      date: '20 января',
      link: "#",
      linkText: "Google",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: '2gis',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Большое спасибо за профессиональную работу по легализации справки об отсутствии судимости! Все передвижения документа отслеживались, по возникающим вопросам эксперты звонили, уточняли. Рекомендую всем обращаться в эту компанию!',
      date: '20 января',
      link: "#",
      linkText: "2GIS",
      btnText: "Читать далее..."
    },
        {
      icon: true,
      type: 'yandex',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Обратилась в компанию для легализации документов и осталась очень довольна! Все сделали быстро и качественно, постоянно держали в курсе о статусе моих документов. Отдельное спасибо за профессионализм и внимательное отношение к клиентам!',
      date: '20 января',
      link: "#",
      linkText: "Яндекс",
      btnText: "Читать далее..."
    },
    //- {
    //-   icon: true,
    //-   type: 'google',
    //-   img: {
    //-     alt: 'card-img',
    //-     name: 'yandex_icon.svg'
    //-   },
    //-   name: 'Елена Козлова',
    //-   text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
    //-   date: '20 января',
    //-   link: "#",
    //-   linkText: "Google",
    //-   btnText: "Читать далее..."
    //- },
    //- {
    //-   icon: true,
    //-   type: '2gis',
    //-   img: {
    //-     alt: 'card-img',
    //-     name: 'yandex_icon.svg'
    //-   },
    //-   name: 'Елена Козлова',
    //-   text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
    //-   date: '20 января',
    //-   link: "#",
    //-   linkText: "2GIS",
    //-   btnText: "Читать далее..."
    //- },
    //-     {
    //-   icon: true,
    //-   type: 'yandex',
    //-   img: {
    //-     alt: 'card-img',
    //-     name: 'yandex_icon.svg'
    //-   },
    //-   name: 'Елена Козлова',
    //-   text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
    //-   date: '20 января',
    //-   link: "#",
    //-   linkText: "Яндекс",
    //-   btnText: "Читать далее..."
    //- },
    //- {
    //-   icon: true,
    //-   type: 'google',
    //-   img: {
    //-     alt: 'card-img',
    //-     name: 'yandex_icon.svg'
    //-   },
    //-   name: 'Елена Козлова',
    //-   text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
    //-   date: '20 января',
    //-   link: "#",
    //-   linkText: "Google",
    //-   btnText: "Читать далее..."
    //- },
    //- {
    //-   icon: true,
    //-   type: '2gis',
    //-   img: {
    //-     alt: 'card-img',
    //-     name: 'yandex_icon.svg'
    //-   },
    //-   name: 'Елена Козлова',
    //-   text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
    //-   date: '20 января',
    //-   link: "#",
    //-   linkText: "2GIS",
    //-   btnText: "Читать далее..."
    //- },
    //-     {
    //-   icon: true,
    //-   type: 'yandex',
    //-   img: {
    //-     alt: 'card-img',
    //-     name: 'yandex_icon.svg'
    //-   },
    //-   name: 'Елена Козлова',
    //-   text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
    //-   date: '20 января',
    //-   link: "#",
    //-   linkText: "Яндекс",
    //-   btnText: "Читать далее..."
    //- },
    //- {
    //-   icon: true,
    //-   type: 'google',
    //-   img: {
    //-     alt: 'card-img',
    //-     name: 'yandex_icon.svg'
    //-   },
    //-   name: 'Елена Козлова',
    //-   text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
    //-   date: '20 января',
    //-   link: "#",
    //-   linkText: "Google",
    //-   btnText: "Читать далее..."
    //- },
    //- {
    //-   icon: true,
    //-   type: '2gis',
    //-   img: {
    //-     alt: 'card-img',
    //-     name: 'yandex_icon.svg'
    //-   },
    //-   name: 'Елена Козлова',
    //-   text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
    //-   date: '20 января',
    //-   link: "#",
    //-   linkText: "2GIS",
    //-   btnText: "Читать далее..."
    //- },

  ]




