-
  const serviceList = [
    {
      tag: 'a',
      icon: true,
      title: 'Апостиль',
      content: `
        <ul>
          <li>
            <a href="#">Апостиль на нотариальные документы</a>
          </li>
          <li>
            <a href="#">Апостиль на документы органов ЗАГС</a>
          </li>
          <li>
            <a href="#">Апостиль на справки о несудимости</a>
          </li>
          <li>
            <a href="#">Апостиль на дипломы, аттестаты</a>
          </li>
       </ul>
      `,

      linkText: 'Все услуги'
    },
    {
      tag: 'a',
      icon: true,
      title: 'Апостиль',
      content: `
        <ul>
          <li>
            <a href="#">Апостиль на нотариальные документы</a>
          </li>
          <li>
            <a href="#">Апостиль на документы органов ЗАГС</a>
          </li>
          <li>
            <a href="#">Апостиль на справки о несудимости</a>
          </li>
          <li>
            <a href="#">Апостиль на дипломы, аттестаты</a>
          </li>
       </ul>
      `,

      linkText: 'Все услуги'
    },
    {
      tag: 'a',
      icon: true,
      title: 'Апостиль',
      content: `
        <span>
          Оставьте заявку любым удобным для вас способом — через сайт, по телефону или лично в офисе. Мы сразу же свяжемся с вами для уточнения всех деталей.
          </span>
      `,

      linkText: 'Все услуги'
    },

  ]




