-
  const serviceList = [
    {
      icon: "services-1",
      title: 'Апостиль',
      text: '',
      list: [
        {text: 'Апостиль на нотариальные документы'},
        {text: 'Апостиль на документы органов ЗАГС'},
        {text: 'Апостиль на справки о несудимости'},
        {text: 'Апостиль на дипломы, аттестаты'}
      ],
      link: '#',
      linkText: 'Подробнее'
    },
    {
      icon: "services-2",
      title: 'Консульская легализация',
      text: '',
      list: [
        {text: 'Легализация личных документов граждан'},
        {text: 'Легализация документов компаний, в т.ч. касающихся внешнеэкономической деятельности'},
      ],
      link: '#',
      linkText: 'Подробнее'
    },
    {
      icon: "services-3",
      title: 'Переводы документов',
      text: 'Точность и скорость в каждом переводе. Мы делаем документы понятными по всему миру.Ваш надежный мост в международное пространство. Переводы и легализация документов с гарантией качества.',
      list: [ ],
      link: '#',
      linkText: 'Подробнее'
    }
  ]




