-
  const serviceList = [
    {
      tag: 'a',
      icon: true,
      title: 'Апостиль',
      content: `
        <ul>
          <li>
            <a href="#">service-1</a>
          </li>
          <li>
            <a href="#">service-1</a>
          </li>
          <li>
            <a href="#">service-1</a>
          </li>
          <li>
            <a href="#">service-1</a>
          </li>
       </ul>
      `,

      small: 'Подробнее'
    },

  ]




