
-
  const serviceSidebarList = [
    {
      title: 'Апостиль',
      content: [
        { text: 'Апостиль на нотариальные документы', href: '#' },
        { text: 'Апостиль на документы органов ЗАГС', href: '#' },
        { text: 'Апостиль на справки о несудимости', href: '#' },
        { text: 'Апостиль на дипломы, аттестаты', href: '#' },
      ]
    },
    {
      title: 'Консульская легализация',
      content: [
        { text: 'Апостиль на нотариальные документы', href: '#' },
        { text: 'Апостиль на документы органов ЗАГС', href: '#' },
        { text: 'Апостиль на справки о несудимости', href: '#' },
        { text: 'Апостиль на дипломы, аттестаты', href: '#' },
      ]
    },
    {
      title: 'Перевод',
      content: [
        { text: 'Оставьте заявку любым удобным для вас способом — через сайт, по телефону или лично в офисе. Мы сразу же свяжемся с вами для уточнения всех деталей.', href: '/translation/request' },
      ]
    },
  ]