.side-menu
  ul.side-menu__list
    li
      a(href="#") Апостиль
      ul
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") Lorem, ipsum dolor
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
    li
      a(href="#") Консульская легализация
      ul
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum
        li
          a(href="#") lorem ipsum

