extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/index-page/hero
  include ./sections/index-page/about
  include ./sections/index-page/client
  include ./sections/index-page/review
  include ./sections/index-page/request

block modals
  include ./modals/map-modal
