extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./components/breadcrumbs
  include ./sections/index-page/features-inner
  include ./layouts/inner-page-template
  include ./sections/index-page/workflow
  include ./sections/index-page/review
  include ./sections/index-page/payments
  include ./sections/index-page/review-clients
  include ./sections/index-page/questions
  include ./sections/common/request

block modals

