.modal.expanded-text-modal#expanded-text-modal
  .modal__overlay
    .modal__content
      .modal__header
        include ./modal-components/modal-closer
        +logo('map-modal-logo')
      .modal__body
        span.modal-text


