.modal-overlay
  .modal.map-modal
    include ./modal-components/modal-closer

    .map-modal-controls
      button.map-modal-zoom.map-modal-zoom--in
      button.map-modal-zoom.map-modal-zoom--out

    include ../components/svg-map
