.modal-overlay
  .modal.map-modal
    button.modal-close
      img(src="./assets/img/icon-close.svg" alt="Закрыть" width="24" height="24")
    .map-modal-controls
      button.map-modal-zoom.map-modal-zoom--in
      button.map-modal-zoom.map-modal-zoom--out

    include ../components/svg-map
