include ../../mixins/section-header
include ../../mixins/section-tabs
include ../../components/review-card
include ../../content/reviews-list
include ../../content/tabs-list

section.review.slider-section
  .container
    +section-header({title: "Отзывы"}, true)
    +section-tabs(tabsList)

    .main-slider.main-slider--review
      .swiper-wrapper
        each item in reviewsList
          .swiper-slide
            +review-card(item)

      .swiper-pagination   