include ../../mixins/section-header
include ../../mixins/section-tabs
include ../../components/review-card
include ../../content/reviews-list
include ../../content/tabs-list

section.review.slider-section
  .container
    +section-header({title: "Отзывы"}, true)
    +section-tabs(tabsList)
    .section-tabs
      .section-tabs__container
        each item in tabsList
          span(tabindex="0" data-filter=item.title.toLowerCase())!= item.title

      script.
        console.log("tabsList from Pug:", !{JSON.stringify(tabsList)});
        console.log("reviewsList from Pug:", !{JSON.stringify(reviewsList)});

    .main-slider.main-slider--review
      .swiper-wrapper
        each item in reviewsList
          .swiper-slide
            +review-card(item)

      .swiper-pagination