include ../../mixins/section-title
include ../../components/info-card
include ../../content/works-list

section.works
  .container.works__container(id="container" class="container")
    +section-title('Как мы работаем')
       
    ul.works__list.base-section-list--2cols
      each item in worksList
        li
          +info-card(item)