include ../../content/sidebar-popular-list

section.inner-sidebar-popular
  h2 Вам может быть интересно
  if(popularSidebarList)
    if Array.isArray(popularSidebarList)
        ul
         each link in popularSidebarList
            li
              a(href=link.href)= link.text