.countrys {
  @extend .section-inner-offset;

  &__container {
    @extend .flex-column;
    align-items: center;
    max-width: 1440px;
  }

  .section-text {
    text-align: start;
  }

  .countrys-wrapper {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 200px;
      background-image: url("../assets/img/decor_map.png");
      background-position: right;
      background-size: contain;
      background-repeat: no-repeat;

      @include m-b-down(400px) {
        top: 50%;
      }
    }
  }

  .section-header {
    align-items: flex-start;
    margin-bottom: 60px;

    span {
      padding: 5px 0;
    }

    @include m-b-mobile-lg-down {
      text-align: center;
    }
  }

  &__title {
    text-align: start;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    color: var(--dark);

    @include m-b-mobile-lg-down {
      text-align: center;
    }
  }

  &__content {
    position: relative;
    display: grid;
    width: 100%;
    max-width: fit-content;
    gap: 40px;

    @include m-b-tablet-down {
      grid-template-columns: repeat(2, 1fr);
    }
    @include m-b-down(400px) {
      grid-template-columns: 1fr;
    }
  }

  li {
    @extend .flex-wrap;
    align-items: center;
    gap: 16px;

    span {
      font-weight: 600;
      font-size: 18px;
      line-height: 1;
      color: var(--dark);
    }

    img {
      max-width: 40px;
      max-height: 40px;
    }
  }
}
