.hero {
  padding-top: 60px;

  &__container {
    position: relative;
    display: flex;

    height: 100%;
    min-height: 720px;

    overflow: hidden;

    @include m-b-desktop-down {
      padding: 0 30px;
    }

    @include m-b-mobile-lg-down {
      padding: 0 15px;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: inherit;
    min-height: inherit;
    z-index: -1;
    min-width: 768px;
    transform: translateX(-50%);
  }

  &__content {
    &-wrapper {
      position: relative;

      display: flex;
      justify-content: space-between;

      width: 100%;
      margin: auto;

      @include m-b-laptop-down {
        flex-wrap: wrap;
      }
    }

    &-subtitle {
      font-size: 26px;
      font-weight: 400;
      text-align: center;
      color: var(--dark);
      margin-bottom: 30px;

      @include m-b-desktop-down {
        font-size: 20px;
      }
    }

    &-title {
      font-size: 18px;
      color: var(--gray);

      & > span {
        display: inline-block;
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 20px;

        color: var(--accent);

        @include m-b-tablet-lg-down {
          font-size: 28px;
        }
      }

      @include m-b-laptop-down {
        margin-bottom: 30px;
      }
    }

    &-text {
      color: var(--gray);
    }

    &--middle {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translateY(-50%);

      @extend .flex-column;
      justify-content: space-between;
      align-items: center;

      width: 40%;
      height: 95%;
      min-height: 600px;

      padding: 60px;
      text-align: center;

      border: 2px solid #e4e4e4;
      border-radius: 10px;

      background-color: var(--white);
      opacity: 0.8;

      @include m-b-desktop-md-down {
        padding: 40px 20px;
      }

      @include m-b-laptop-down {
        order: 1;
        position: static;
        width: 100%;
        border: none;
        border-radius: 0;
        transform: none;
        height: fit-content;
        min-height: fit-content;
        margin-bottom: 20px;
      }

      .svg-map-opener {
        transition: background-color var(--main-transition), border-color var(--main-transition);

        span {
          transition: color var(--main-transition);
        }

        svg {
          transition: fill var(--main-transition);
        }

        @include m-b-laptop-down {
          margin-bottom: 30px;
        }
      }

      .svg-map-opener:hover {
        opacity: 1;
        border-color: var(--accent);
        background-color: var(--accent);

        span {
          color: var(--white);
        }

        svg {
          fill: var(--white);
        }
      }
    }

    &--side {
      @extend .flex-column;
      align-items: center;
      width: 30%;
      padding: 60px 30px;

      background-color: var(--white);
      opacity: 0.8;

      @include m-b-desktop-down {
        padding: 40px 20px;
      }

      @include m-b-laptop-down {
        order: 2;
        width: calc(50% - 10px);

        &:not(:last-child) {
          margin-right: auto;
        }
      }

      @include m-b-tablet-down {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }

      svg {
        fill: var(--accent);
        margin-bottom: 15px;

        @include m-b-desktop-down {
          margin-bottom: 10px;
        }

        @include m-b-tablet-down {
          width: 40px;
          height: 40px;
        }
      }

      ul {
        margin-bottom: 30px;
        max-width: 320px;

        li {
          position: relative;
          padding-left: 15px;
          margin-bottom: 5px;

          &::before {
            position: absolute;
            top: 7px;
            left: 0;
            width: 5px;
            height: 5px;
            content: '';
            background-color: var(--gray);
            border-radius: 50%;

            transition: background-color var(--main-transition);
          }

          a {
            transition: color var(--main-transition);
          }

          &:hover,
          &:focus {
            a {
              color: var(--accent);
            }

            &::before {
              background-color: var(--accent);
            }
          }
        }
      }

      a {
        margin-top: auto;
      }
    }
  }
}

