.review {
  @extend .section-inner-offset;

  .section-tabs__container {
    @extend .flex-wrap;
    align-items: center;
    gap: 30px;

    span {
      font-weight: 600;
      font-size: 26px;
      transition: color var(--main-transition);
      cursor: pointer;

      &::before {
        content: none;
      }

      &:hover,
      &:focus {
        color: var(--accent);
      }
    }
  }
}
